.content {
    max-width: 1200px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media screen and (max-width: 992px) {
    .content {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .content {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .content {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
