.list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    justify-content: center;
}

.button {
    margin: 2rem auto;
    display: block;
    width: 200px;
    background-color: #395EA9;
    border-color: #395EA9;
}

.button:hover {
    background-color: #496aac;
}

.spinner-inline {
    border-width: 3px;
}

@media screen and (max-width: 1200px) {
    .list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 992px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .list {
        grid-template-columns: repeat(1, 1fr);
    }
}
